
{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/books.css' %}" />
{% endblock %}
{% block content %}

    <section id="book-details">
        <h1 class="book__detail__title">{{ book.title }}</h1>
        <h2 class="book__details__content">By {{ book.author }}</h2>

        <div class="book__details__content">Published in {{ book.year_published }}</div>
        <div class="book__details__content">ISBN: {{ book.ISBN }}</div>
        <div class="book__details__content">Located in the {{ book.location.title }}</div>
        <div class="book__details__content">Registered by {{ book.librarian.first_name }} {{ book.librarian.last_name }}</div>

    <section id="book-actions" style="display:flex;">
        <form action="{% url 'libraryapp:book' book.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>

        <form action="{% url 'libraryapp:book_edit_form' book.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>
    </section>
{% endblock %}
