{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/librarians.css' %}" />
{% endblock %}
{% block content %}
    <h1 class="librarian-title">Librarians</h1><hr/>
    <ul class="librarian-ul">
    {% for librarian in all_librarians %}
<section class="librarian-list">
        <li class="librarian-name">
         <a href="{% url 'libraryapp:librarian' librarian.id %}"> {{ librarian.first_name }} {{ librarian.last_name }}</a>
        </li>
    </section>
        
    {% endfor %}
    </ul>

{% endblock %}