{% extends 'shared/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/libraries.css' %}" />
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nashville Library Management System</title>
</head>

<body>
    <section class="home-container">
        <h1 class="welcome-message">Welcome to the Nashville Library Management System</h1>
        <span class="book-img-container">
        <img src="https://www.goodfreephotos.com/albums/vector-images/old-book-vector-clipart.png" width="600"></img>
        </span>
    </section>
</body>

</html>
{% endblock %}
