
{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/libraries.css' %}" />
{% endblock %}
{% block content %}
<section class="library-form-container">
    <h1 class="library__title">Add a Library</h1>


    <form action="{% url 'libraryapp:libraries' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="title">Title: </label>
          <input id="title" type="text" name="title">
      </fieldset>
      <fieldset>
          <label for="address">Address: </label>
          <input id="address" type="text" name="address">
      </fieldset>
      <input class="library-form-button" type="submit" value="Add It" />
    </form>

{% endblock %}
