{% extends 'shared/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/libraries.css' %}" />
{% endblock %}
{% block content %}
    <h1 class="library-title">Libraries</h1><hr/>

    <a href="{% url 'libraryapp:library_form' %}" class="add-library">Add Library</a>

    <ol>
    {% for library in all_libraries %}
        <li class="library-list-entry">
            <a href="{% url 'libraryapp:library' library.id %}">
                {{ library.title }}
            </a>
             ({{ library.address }})
            <ul>
            {% for book in library.books %}
                <li>{{ book.title }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ol>
{% endblock %}

