
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
{% endblock %}
 <nav id="logout-nav site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'libraryapp:login' %}">Login</a></li>
        </ol>
    </nav>
<section class="login-form">
<h2 class="login-title">Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="login-button" type="submit">Login</button>
</form>
</section>